<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xuxiaowei.mapper.UploadFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.xuxiaowei.entity.UploadFile">
        <id column="upload_file_id" property="uploadFileId"/>
        <result column="upload_file_name" property="uploadFileName"/>
        <result column="upload_file_blob" property="uploadFileBlob"/>
        <result column="upload_file_type" property="uploadFileType"/>
        <result column="upload_file_size" property="uploadFileSize"/>
    </resultMap>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="cn.com.xuxiaowei.entity.UploadFile"
            keyColumn="upload_file_id" keyProperty="uploadFileId" useGeneratedKeys="true">
        insert into upload_file (upload_file_name, upload_file_blob, upload_file_type, upload_file_size)
        values (#{uploadFileName}, #{uploadFileBlob}, #{uploadFileType}, #{uploadFileSize})
    </insert>

    <!-- 插入数据（选择性） -->
    <insert id="insertSelective" parameterType="cn.com.xuxiaowei.entity.UploadFile"
            keyColumn="upload_file_id" keyProperty="uploadFileId" useGeneratedKeys="true">
        insert into upload_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uploadFileName != null">
                upload_file_name,
            </if>
            <if test="uploadFileBlob != null">
                upload_file_blob,
            </if>
            <if test="uploadFileType != null">
                upload_file_type,
            </if>
            <if test="uploadFileSize != null">
                upload_file_size,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uploadFileName != null">
                #{uploadFileName},
            </if>
            <if test="uploadFileBlob != null">
                #{uploadFileBlob},
            </if>
            <if test="uploadFileType != null">
                #{uploadFileType},
            </if>
            <if test="uploadFileSize != null">
                #{uploadFileSize},
            </if>
        </trim>
    </insert>

</mapper>